/* My CSS Stylesheet */

/* Color header banner  */

#banner-card {
    background-color: lightgray;
    
}

/* Color and add spacing for news item */

#news_deliverable {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 10px;

}

/* Color and add spacing and rounding to feature image */

#feature-img {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 10px;
    border-radius: 10%;
    
}

/* Left align html table headers */

th {
    text-align: left;
  }

/* Color and add spacing for high-res image cards */

.img-card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 10px;
           
}