/* My CSS Stylsheet */

#banner-card {
    background-color: lightgray;
    
}

#news_deliverable {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 10px;

}

#feature-img {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 10px;
    border-radius: 10%;
    
}

th {
    text-align: left;
  }

.img-card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 10px;
           
}

