<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Mission to Mars</title>
  
    <!-- Set the viewport the way Bootstrap likes it -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bring in the Bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
    <!-- Bring in our own stylesheet, AFTER Bootstrap  -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-center" id="banner-card">        
            <div class="card-body">
              <h1 class="heading">Mission to Mars</h1>
              <a href="/scrape" class="btn btn-primary">  
                Scrape New Data
              </a>                
              <br><br>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">  
    <div class="row">
      <div class="col-md-12" id="news_deliverable">
        <h5 class="display-5">Latest Mars News</h5>
        <h5>{{mars_data.news_title}}</h5>
        <p>{{mars_data.news_paragraph}}</p>      
      </div>
    </div>  
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="featured_image_deliverable">
        <h4 class="display-4">Featured Mars Image</h4>          
        <img src={{ mars_data.image_featured_url }} alt="featured mars image" id="feature-img">
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="table_deliverable">
        <h6 class="display-6">Mars Facts</h6>               
        <div class="table-responsive">
          
            {{ mars_data.html_table|safe }}

        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row" >
      <div class="col-md-12" id="photo_data_deliverable">
        <br><br>
        <h3 class="display-3 text-center">Mars Hemispheres</h3>
        <hr>    
      </div>
    </div>

    <div class="row">
      {%    for (title, url) in mars_data.photo_data   %}    
        
          <div class="col-md-3">                
              <div class="card" style="width: 18rem;" class="img-card">
                <img src="{{ url }}" class="card-img-top" alt="image of {{ title }}">
                <div class="card-body">
                  <p class="card-text"><h3>{{ title }}</h3></p>
                </div>
              </div>
          </div>            

      {%   endfor    %}      
    </div> 
  </div>       
   
  <!-- Import the Bootstrap JavaScript code -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>

</html>

